// Color
$color-white: #fff !default;
$color-black: #2C2C2C !default;
$color-dark-blue: #363D59 !default;
$color-green: #4EC068 !default;
$color-dark-green: #07AA6D !default;
$color-grey: #9B9B9B !default;
$color-border-grey: #E7E7E7 !default;

// Font
$font-family-text: 'Source Sans Pro', sans-serif !default;

$font-light: 300 !default;
$font-normal: 400 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
